*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(
      transparent 0,
      transparent 2em,
      lightblue 2em,
      lightblue 2.5em,
      transparent 2.5em,
      transparent 100%
    ),
    radial-gradient(
      transparent 0,
      transparent 2em,
      aquamarine 2em,
      aquamarine 2.5em,
      transparent 2.5em,
      transparent 100%
    ),
    radial-gradient(
      transparent 0,
      transparent 2em,
      khaki 2em,
      khaki 2.5em,
      transparent 2.5em,
      transparent 100%
    ),
    radial-gradient(
      transparent 0,
      transparent 2em,
      pink 2em,
      pink 2.5em,
      transparent 2.5em,
      transparent 100%
    ),
    linen;

  background-blend-mode: multiply;
  background-size: 5em 5em;
  background-position: 0 2.5em, 2.5em 0, 2.5em 2.5em, 0 0;
}
